<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="nodeBuilder" class="ru.aaromanov1985.botonator.simplebot.node.builder.DefaultXmlNodeBuilder"/>

    <bean id="nodeService" class="ru.aaromanov1985.botonator.simplebot.node.service.DefaultNodeService"/>

    <bean id="conversationService"
          class="ru.aaromanov1985.botonator.simplebot.conversation.service.DefaultConversationService">
        <property name="addNewLines" value="true"/>
        <property name="bad_request" value="Неверный запрос"/>
        <property name="timeout" value="1800000"/>
    </bean>

    <bean id="bot" class="ru.aaromanov1985.botonator.simplebot.bot.DefaultTelegramBot">
        <property name="token" value="${sysadm.bot.token}"/>
        <property name="name" value="${sysadm.bot.name}"/>
        <property name="path" value="${sysadm.path}"/>
    </bean>
</beans>